body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.unstylized-button {
  border: none;
  padding: 0 !important;
  cursor: pointer;
}

.unstylized-button:active {
  background-color: rgba(0, 0, 0, 0);
}

.unstylized-button:focus {
  background-color: rgba(0, 0, 0, 0);
}
